.main{
    background-image: URL("../../assets/10002.svg");
    background-position: center;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}
.main_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form_main{
background-color: white;
color: #66748E;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 450px;
    margin-top: 20px;
    box-shadow: 0 .5rem 1rem #00000026 !important;
}

.form_main .sign{
    font-size: 13px;
    color: #333;
    margin-bottom: 8px;
    text-align: center;
}
.form_main .join{
     margin-bottom: 8px;
    text-align: center;
    font-weight: bold;
    color: #344666;
}
.form_main .have_account{
    margin-bottom: 6px;
    text-align: center;
}
.form_main .sign{
margin-bottom: 8px;
    align-items: center;
    justify-content: center;
}
.form_main input, span{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #333333;
    font-size: 12px;
    height: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.flNames{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

}
button{
    background-color: #516CF0;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
}
button:hover{
    background-color: #085ED6;
    cursor: pointer;
}
.closing_form{
    align-items: center;
    margin-top: 20px;

}
.last_container{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 50%;
    padding-left: 25px;

}
.last_container button{
    width: 15%;
    margin: 0 10px;
    background-color: orange;
    color: white;
    margin-bottom: 10px;
    border: none;
    border-radius: 3px;
}
a {
    text-decoration: none;
    color: #DA7001;
}
.last_container .About{
    font-size: 15px;
    color: #DA7001;
    margin-bottom: 15px;
}
.last_container .QA{
    color: #344666;
    margin-bottom: 10px;
    font-weight: bold;
}
.password_container {
  position: relative;
}

.password_input {
  width: 100%;
  padding-right: 30px; /* Adjust as needed to make space for the icon */
}

.icon_button {
  position: absolute;
  right: 10px; /* Adjust as needed */
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  cursor: pointer;
  padding: 0;
  width: 20px; /* Adjust size */
  height: 20px; /* Adjust size */
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon_button svg {
  width: 100%;
  height: 100%;
}


