.main-container {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition-timing-function: ease-in;
  height: 9vh;
  color: rgba(255, 255, 255, 0.835);
  z-index: 1;
}

.main-container.scrolled {
    background-color: black;
}
.header-container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
}
.header-left ul{
    width: 130%;
   
}
.header-right ul{
    width: 135%;
    
}
.left-ul , .right-ul{
display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    cursor: pointer;
}
.header-left ul li p{
    display: none;
}
@media screen and (max-width: 550px) {
  .header-left ul li:not(:first-child):not(:nth-child(2)) {
    display: none; /* Hide all list items except the first and second */
  }

  .header-left ul li img,
  .header-left ul li p {
    display: block; /* Make the img and p elements visible */
  }
   .header-right ul li:not(:first-child):not(:nth-child(3)):not(:nth-child(4)) {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .header-left ul li:not(:first-child):not(:nth-child(2)) {
    display: none; 
  }

  .header-left ul li img,
  .header-left ul li p {
    display: block; 
  }
  .header-left ul li p {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    padding: 0.5rem 1rem;
  }
   .header-right ul li:not(:first-child):not(:nth-child(3)):not(:nth-child(4)) {
    display: none;
  }
}