.footer-main-container{
    padding-top: 70px;
    background-color: #111;
    color: gray;
    display: flex;
    justify-content: center;
}
.footer-container{
    width: 80%;
    margin-right: 20px;
}
.footer-icons{
    padding-bottom: 10px;
    width: 9vw;
    display: flex;
    justify-content: space-between;
    color: #fff;
}
.footer-data{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}
.footer-data ul{
    width: 25vw;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 12vh;
}

.service_code{
    display: flex;
    align-items: center;
    justify-content: last baseline;
    width: auto;
    cursor: pointer;
    font-size: 12px;
    margin-top: 25px;
    margin-bottom: 10px;
}
.service_code p {
    margin: 0;
    padding: 0;
    border: 1px solid #f5f1f1a4;
    padding: 5px 10px;

}
.copy-right{
    font-size: 10px;
    margin-bottom: 10px;
}
@media screen and (max-width: 550px) {
    .footer-icons{
        gap: 10px;
        width: 10vw;
  }
  .footer-data {
    width: 10vw;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr); /* Set two equal-width columns */
  }
  
}
@media screen and (max-width: 768px) {
    .footer-icons{
        gap: 10px;
        width: 10vw;
  }
  .footer-data {
    width: 10vw;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr); /* Set two equal-width columns */
  }
  
}